*{
    box-sizing: border-box;
    margin: 0;
}

.hero {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.7259278711484594) 0%, rgba(255,255,255,0) 100%), url("./wp.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.logo{
    /* width: 10%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* font-size: 2rem; */
    color: #fff;
}

.logo img{
    width: 100%;
}

.comingsoon{
    position: fixed;
    top: 0;
    right: 0;
    color: #fff;
    z-index: 99;
}

.comingsoon h1 {
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}